body{
    background-color: #caf4ff ;
}
.head{
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
    height: 60px;
    margin-top: -15px;
}
.head h1{
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    color: #2a52be;
}
.boxes{
    display: flex;
    /* justify-content: space-evenly; */
    margin-top: 8px;
}
.box1{
    background-color: #F0F8FF;
    width: 269px;
    height: 120px;
    border-width: 1px;
    border-radius: 10px;
}
.box2{
    background-color: #F0F8FF;
    width: 269px;
    height: 120px;
    border-width: 1px;
    border-radius: 10px;
    margin-left: 5px;
}
.box3{
    background-color: #F0F8FF;
    width: 269px;
    height: 120px;
    border-width: 1px;
    border-radius: 10px;
    margin-left: 5px;
}
.chart{
    display: flex;
    background-color: #F0F8FF;
    width: 434px;
    height: 250px;
    margin-left: 822px;
    margin-top: -120px;
    border-radius: 10px;
}
.graph{
    display: flex;
    border-radius: 5px;
    border-width: 1px;
    background-color: #F0F8FF;
    width: 815px;
    height: 190px;
    margin-top: -125px;
}
.alarm{
    display: flex;
    margin-left: 822px;
    border-radius: 5px;
    border-width: 1px;
    background-color: #F0F8FF;
    width: 434px;
    height: 255px;
    margin-top: -60px;
}
.table{
    display: flex;
    border-radius: 5px;
    border-width: 1px;
    background-color: #F0F8FF;
    width: 815px;
    height: 190px ;
    margin-top: -190px;
}
h4{
    padding: 3px;
    margin-top: 2px;
    font-size: 2rem;
}
.alarm p{
    font-size: 2rem;
}
.button{
    display: flex;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-left: -350px;
    margin-top: 200px;
}
#clientID{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
#Amount{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
#property{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}